@model Vidly.ViewModel.CustomerFormViewModel

@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Customer</h2>

@*purpose of @using is to ensure to put the closing tag at the end of <form> element*@
@using (@Html.BeginForm("Save", "Customers"))
{
    <div class="form-group">
        @Html.ValidationSummary(true, "Please fix the following errors")
        @*all the prop's are call with customer keyword so,
        mvc automatically map the form data into customer object*@

        @Html.LabelFor(m => m.Customer.Name)
        @Html.TextBoxFor(m => m.Customer.Name,
        new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Customer.Name)
    </div>
    
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.BirthDate)
        @Html.TextBoxFor(m => m.Customer.BirthDate, "{0:d MMM yyyy}",
        new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Customer.BirthDate)
    </div>
    
    
     <div class="form-group">
        @Html.LabelFor(m => m.Customer.MembershipTypeId)
        @Html.DropDownListFor(m =>  m.Customer.MembershipTypeId,
        new SelectList(Model.MembershipTypes, "Id", "Name"), 
        "select membership types", new { @class = "form-control"})
         @Html.ValidationMessageFor(m => m.Customer.MembershipTypeId)
    </div>
    
    <div class="checkbox">
      <label>
        @Html.CheckBoxFor(m => m.Customer.IsSubscribedToNewsletter) 
         Subscribed to Newsletter?
      </label>
    </div>
    
     // hidden field here
     @Html.HiddenFor(m => m.Customer.Id)
    @Html.AntiForgeryToken();
    <button type="submit" class="btn btn-primary">
     Save
    </button>
    
}

@* client side validation *@
@section scripts{
    @Scripts.Render("~/bundles/jqueryval")

}


